body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.calculator-screen {
    width: 92.5%;
    height: 100px;
    border: none;
    background-color: #252525;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

button {
    height: 80px;
    border: none;
    background-color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f0f0f0;
}

.operator {
    background-color: #f9a825;
    color: white;
}

.operator:hover {
    background-color: #f57f17;
}

.equal-sign {
    background-color: #4caf50;
    color: white;
    grid-column: span 2;
}

.equal-sign:hover {
    background-color: #388e3c;
}

.all-clear {
    background-color: #d32f2f;
    color: white;
}

.all-clear:hover {
    background-color: #c62828;
}